In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merged_df = mouse_metadata.merge(study_results)

# Display the data table for preview
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
number_of_mice = merged_df["Mouse ID"].value_counts()
number_of_mice.count() 
mice = number_of_mice.count()
print(f"The total number of mice: {mice}")

The total number of mice: 249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
number_of_mice 
# Shows Mouse ID, g989 has 13 timepoints. 10 should be the max.

g989    13
a963    10
k382    10
f345    10
l471    10
        ..
t573     1
n482     1
x226     1
v199     1
u153     1
Name: Mouse ID, Length: 249, dtype: int64

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse = merged_df.loc[(merged_df["Mouse ID"] == "g989")]
duplicate_mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = merged_df.drop([908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920])
clean_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice in the clean DataFrame.
number_of_mice2 = clean_df["Mouse ID"].value_counts()
number_of_mice2.count() 
mice2 = number_of_mice2.count()
print(f"The total number of mice: {mice2}")

The total number of mice: 248

 Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
mean = clean_df.groupby(["Drug Regimen"]).mean()["Tumor Volume (mm3)"]
median = clean_df.groupby(["Drug Regimen"]).median()["Tumor Volume (mm3)"]
variance = clean_df.groupby(["Drug Regimen"]).var()["Tumor Volume (mm3)"]
standard_deviation = clean_df.groupby(["Drug Regimen"]).std()["Tumor Volume (mm3)"]
sem = clean_df.groupby(["Drug Regimen"]).sem()["Tumor Volume (mm3)"]

summary_df = pd.DataFrame({"Mean": mean, "Median": median, "Variance": variance, "Standard Deviation": standard_deviation, "SEM": sem})
summary_df

                   Mean     Median   Variance  Standard Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764            4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177            6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684            6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577            8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479            8.134708  0.596466
Placebo       54.033581  52.288934  61.168083            7.821003  0.581331
Propriva      52.320930  50.446266  43.852013            6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704            4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562            7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355            6.966589  0.516398

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen.
# Using the aggregation method, produce the same summary statistics in a single line.
clean_df.groupby('Drug Regimen').agg(['mean', 'median', 'var', 'std', 'sem'])[""]

             Age_months                                       Weight (g)  \
                   mean median        var       std       sem       mean
Drug Regimen
Capomulin     13.456522   16.5  59.620372  7.721423  0.509136  19.965217
Ceftamin      13.247191   12.0  65.147591  8.071406  0.604977  27.398876
Infubinol     16.230337   20.0  56.404272  7.510278  0.562919  27.196629
Ketapril      15.659574   18.0  36.236432  6.019670  0.439030  27.861702
Naftisol      12.000000    9.0  45.102703  6.715855  0.492430  27.166667
Placebo       10.734807   10.0  40.384837  6.354907  0.472356  27.928177
Propriva      10.006757    7.5  48.251655  6.946341  0.570986  27.135135
Ramicane      10.684211    9.0  35.362393  5.946629  0.393825  19.679825
Stelasyn      12.784530   14.0  63.036648  7.939562  0.590143  27.856354
Zoniferol     12.598901   12.5  33.479115  5.786114  0.428895  27.692308

                                                    ... Tumor Volume (mm3)  \
             median        var       std       sem  ...               mean
Drug Regimen                                        ...
Capomulin      20.5   7.466034  2.732404  0.180169  ...          40.675741
Ceftamin       28.0   2.501016  1.581460  0.118535  ...          52.591172
Infubinol      27.0   4.769028  2.183810  0.163684  ...          52.884795
Ketapril       28.0   3.392536  1.841884  0.134333  ...          55.235638
Naftisol       27.0   2.247748  1.499249  0.109930  ...          54.331565
Placebo        28.0   3.378146  1.837973  0.136615  ...          54.033581
Propriva       26.0   2.933995  1.712891  0.140799  ...          52.320930
Ramicane       19.0  10.465318  3.235014  0.214244  ...          40.216745
Stelasyn       28.0   2.701473  1.643616  0.122169  ...          54.233149
Zoniferol      28.0   2.015300  1.419612  0.105229  ...          53.236507

                                                       Metastatic Sites  \
                 median        var       std       sem             mean
Drug Regimen
Capomulin     41.557809  24.947764  4.994774  0.329346         0.713043
Ceftamin      51.776157  39.290177  6.268188  0.469821         1.179775
Infubinol     51.820584  43.128684  6.567243  0.492236         0.960674
Ketapril      53.698743  68.553577  8.279709  0.603860         1.297872
Naftisol      52.509285  66.173479  8.134708  0.596466         1.182796
Placebo       52.288934  61.168083  7.821003  0.581331         1.441989
Propriva      50.446266  43.852013  6.622085  0.544332         1.013514
Ramicane      40.673236  23.486704  4.846308  0.320955         0.548246
Stelasyn      52.431737  59.450562  7.710419  0.573111         0.872928
Zoniferol     51.818479  48.533355  6.966589  0.516398         1.230769


             median       var       std       sem
Drug Regimen
Capomulin         0  0.720790  0.848993  0.055981
Ceftamin          1  1.402527  1.184283  0.088766
Infubinol         1  1.054942  1.027104  0.076985
Ketapril          1  1.942883  1.393873  0.101659
Naftisol          1  1.479919  1.216519  0.089200
Placebo           1  1.792449  1.338824  0.099514
Propriva          1  1.224306  1.106484  0.090952
Ramicane          0  0.477838  0.691259  0.045780
Stelasyn          1  0.944874  0.972046  0.072252
Zoniferol         1  1.559711  1.248884  0.092573

[10 rows x 25 columns]

 Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.
#DataFrame.plot()
bar_plot_df = clean_df[["Drug Regimen", "Tumor Volume (mm3)"]]
bar_plot_df

bar_plot_df = bar_plot_df.set_index("Drug Regimen")
bar_plot_df

bar_plot_df.plot(kind="bar", figsize=(40,5))

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.
#pyplot
plt.bar()

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

 Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

 Line and Scatter Plots

In [ ]:
 # Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

 Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen